/tmp
/pkg
/doc
adyen-*.gem
.yardoc
*.swp
*.swo
.DS_Store
t.rb
spec/functional/initializer.rb
Gemfile.lock
.bundle/
log/*.log
pkg/
*/dummy/db/*.sqlite3
*/dummy/log/*.log
*/dummy/tmp/
*/dummy/.sass-cache
.ruby-version
.idea
