<!DOCTYPE html>
<html>
<head>
  <title>Adyen</title>
  <%= stylesheet_link_tag    "adyen/application", :media => "all" %>
  <%= javascript_include_tag "adyen/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
