<html>
<head>
	<title> HPP Payment</title>
</head>
<body>
	<form action="<%= Adyen::Form.url(:test) %>" method="post">
		<p> Price: <strong>EUR 43.21</strong>. </p>
		<p>
			<%= Adyen::Form.hidden_fields(@payment) %>
			<input type="submit" value="Pay" />
		</p>
	</form>

  <p>If you are using the test account of this library, you will be redirected back
    to <strong>example.com</strong> after you complete the payment on Adyen's hosted
    payment pages. This is due to how the test account is configured.
  </p>
</body>
</html>
