<html>
	<form action="/pay" method="post">
		<p>
			Card:         <input type="text" name="card[number]" /><br />
			Holder name:  <input type="text" name="card[holder_name]" /><br/>
			Expiry month: <input type="text" name="card[expiry_month]" /><br/>
			Expiry year:  <input type="text" name="card[expiry_year]" /><br/>
			CVC:          <input type="text" name="card[cvc]" /><br/>
		</p>
		<p><input type="submit" name="submit" value="Pay" /></p>
	</form>
</html>
